html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #ddd;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    text-decoration: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: 15px 0;

}

.header a {

    float: left;
    display: block;
    width: 120px;
    height: inherit;
    margin-right: 20px;
    padding: 10px 20px;

    font: bold 18px/18px 'TlwgMono', sans-serif;
    color: #fff;
    text-align: center;
    background: #ff7823;
}

.menu {

    width: 905px;
    height: 39px;
    background: #888;
    float: right;
}

.head {
    margin-bottom: 15px;

    height: 240px;
    background: #1bf;
}

.nav {
    float: left;
    display: inline-block;
    width: 250px;
    height: auto;
    background: yellow;
    border: 15px solid orange;
}
.sidebar{
    width: 250px;
}

.sidebar li {

}

.sidebar li + li {
    border-top: 3px dotted #484848;
}

.sidebar li a {
    padding: 10px 40px;
    display: block;
    font: 16px/22px Arial, sans-serif;
    color: #000;
}

.content {
    display: block;
    width: 900px;
    float: right;
    background: #666;
}

.content {
    float: right;
    width: 810px;
    height: auto;
    margin-bottom: 15px;
}

.item {
    float: left;
    width: 33.33%;
    padding: 20px;
}

.img {
    display: block;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    background: #999;
}

.img span {
    position: absolute;
    top: 84px;
    right: 60px;
    color: white;
    font: bold 28px Arial, san-serif;
}

h4 {
    font: bold 15px Arial, sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

p {

    font: 12px Arial, sans-serif;
    color: #fff;
}

.footer{
    display: block;
    width: auto;
    padding: 20px 30px;
    height: 50px;
    color: #fff;
    background: #000;
    font-size:14px;
}





@media (max-width: 992px){}



@media (max-width: 768px) {

}

@media( max-width: 480px){


}

